<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">

  <title>Users List</title>

  <!-- Bootstrap & JQuery import -->
  <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css}">
  <script th:src="@{/jquery-3.6.0/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js}"></script>

</head>

<body>

  <!-- Error message -->
  <span class="alert alert-success alert-dismissible fade show" th:if="${message}" th:text="${message}"></span>

  <!-- Table -->
  <table class="table table-striped">

    <thead>
    <tr>
      <th class="col-1">ID</th>
      <th class="col-1">Name</th>
      <th class="col-1">Email</th>
      <th class="col-1">Roles</th>
      <th class="col-1">Status</th>
      <th class="col-1">Delete</th>
      <th class="col-1">Edit</th>
      <th class="col-1">Manage Roles</th>
    </tr>
    </thead>
    <tbody>

      <!-- Checks if there are users to be listed -->
      <tr th:if="${users == null}">
        <td colspan="2">Empty Table</td>
      </tr>

      <tr th:each="user : ${users}">
        <td class="col-1"><span th:text="${user.id}">Id</span></td>
        <td class="col-1"><span th:text="${user.name}">Name</span></td>
        <td class="col-1"><span th:text="${user.email}">Email</span></td>
        <td class="col-1">
          <th:block th:each="rl : ${user.roles}">
            <span th:text="${rl.role}">Roles</span> <br/>
          </th:block>
        </td>
        <td class="col-1"><span th:text="${user.active} ? 'ACTIVE' : 'INACTIVE'">Active?</span></td>

        <!-- Delete Button -->
        <td class="col-1">
          <a class="btn btn-outline-danger btn-sm" th:href="@{/templates/auth/user/delete/{id}(id=${user.id})}"
             th:data-confirm-delete="|Are you sure you want to delete ${user.name}?|"
             onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
        </td>

        <!-- Edit Button -->
        <td class="col-1">
          <a class="btn btn-outline-primary btn-sm" th:href="@{/templates/auth/user/edit/{id}(id=${user.id})}">Edit</a>
        </td>

        <!-- Manage Roles Button -->
        <td class="col-1">
          <a class="btn btn-outline-warning btn-sm" th:href="@{/templates/auth/user/edit-role/{id}(id=${user.id})}">Manage Roles</a>
        </td>
      </tr>

    </tbody>

  </table>
  <!-- END Table -->

</body>

</html>