<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.0/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="blockcode" th:fragment="footer">
    <div class="header">SRS</div>
    <div class="description">Student Registration System</div>
    <footer class="page-footer shadow">
        <div
                class="d-flex flex-wrap justify-content-between align-items-center mx-auto py-4"
                style="width: 80%"
        >
            <div class="d-flex flex-wrap align-items-center">
                <a href="/#" class="d-flex align-items-center p-0 text-dark">
                    <img alt="logo" src="../../images/logo.png" width="30px" />
                    <span class="ms-4 h5 mb-0 font-weight-bold">SRS</span>
                </a>
                <span
                        style="
                        font-size: 3em;
                        margin: -2rem 0px -1.5rem 1rem;
                        color: #c4c4c4;
                      "
                >&#8226;</span
                >
                <small class="ms-2">&copy; SRS, 2023. All rights reserved.</small>
            </div>
            <div>
                <button class="btn btn-dark btn-flat p-2">
                    <i class="fa fa-facebook"></i>
                </button>
                <button class="btn btn-dark btn-flat p-2">
                    <i class="fa fa-twitter"></i>
                </button>
                <button class="btn btn-dark btn-flat p-2">
                    <i class="fa fa-instagram"></i>
                </button>
            </div>
        </div>
    </footer>
</div>

</body>
</html>