<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Student</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.0/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js}"></script>

    <!-- Local Style -->
    <style>
        .message{
            color: #FF0000;
        }
    </style>

</head>
<body>

    <div th:insert="fragments/nav :: nav"></div>

    <div class="container">

        <div class="row">
            <div class="col">

                <h2>Register a new Student</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${message}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${message}"></span>
                </div>

                <form action="#" th:action="@{/student/save}" th:object="${student}" method="post">

                    <!-- Name Row -->
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">Name:</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" th:field="*{name}">
                        </div>
                        <div class="col-sm-5">
                            <span class="message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                    </div>

                    <!-- Registration Number Row -->
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">Registration Number:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" th:field="*{registrationNumber}">
                        </div>
                        <div class="col-sm-5">
                            <span class="message" th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}"></span>
                        </div>
                    </div>

                    <!-- Birth Date Row -->
                    <div class="row mb-3">
                        <label class="col-sm-1 col-for-label">Birth Date:</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" th:field="*{birthDate}">
                        </div>
                        <div class="col-sm-5">
                            <span class="message" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
                        </div>
                    </div>

                    <!-- Academic Year Row -->
                    <div class="row mb-3">
                        <label class="col-sm-1 col-for-label">Academic Year:</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" th:field="*{academicYear}">
                        </div>
                        <div class="col-sm-5">
                            <span class="message" th:if="${#fields.hasErrors('academicYear')}" th:errors="*{academicYear}"></span>
                        </div>
                    </div>

                    <!-- Grades Row -->
                    <div class="row mb-3">
                        <label class="col-sm-1 col-for-label">Grades:</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" th:field="*{grade.grade1}">
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" th:field="*{grade.grade2}">
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" th:field="*{grade.grade3}">
                        </div>
                        <div class="col-sm-5">
                            <span class="message" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="save">

                </form>
            </div>

        </div>

    </div>
</body>
</html>