<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>
</head>
<body>

<h1>All Students</h1>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Registration Number</th>
            <th>Academic Year</th>
            <th>Average grades</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td th:each="student : ${students}"></td>
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getResgitrationNumber()}"></td>
            <td th:text="${student.getAcademicYear()}"></td>
            <td th:text="${student.getAverageGrades()}"></td>
        </tr>
    </tbody>

</table>

</body>
</html>